

.navbar {
    width: 100%;
    height: 200px;
    background-image: url(../../assets/img/bg-navbar.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.logotipo {
    max-width: 100px;
    width: 12%;
    padding: 2% 10px 10px 10%;
    cursor: pointer;
}

.menu {
    float: right;
    padding: 20px;
    margin: 30px;
    margin-right: 10%;
    margin-bottom: 30px;
}

.menu span {
    color: var(--color-black);
    margin-right: 25px;
    cursor: pointer;
}

.menu span:hover {
    color: var(--color-primary);
}

