@media screen and (max-width: 376px){

    .lista-produtos {
        padding-left: 40px;
        margin:0;
        width: 90%;
        padding-right: -55px;
    }
    
    .footer-cart {
        margin-left: 35px;
    }

    .btn-checkout {
        text-indent: 1.5rem;
    }

    .btn-sair-carrinho {
        left: 10%;
    }

}

@media screen and (max-width:500px) {

    .noselect {
        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
    }
    
    .navbar {
        width: 100%;
        height: 120px;
        background-size: cover;
        background-repeat: repeat;
        position: fixed;
        top: 0;
        left: 0;
    }

    
    .logotipo {
        width: 20%;
        padding: 10px;
        padding-left: 20px;
    }

    .menu {
        margin: 15px;
    }
 
    .menu-spacing {
        padding-top: 120px ;
    }

    .subtitulo {
        max-width: 95%;
    }

    .titulo-cart {
        margin-left: 40px;
    }

    
    .btn-sair-carrinho {
        left: 10%;
    }

    .btn-checkout {
        width: 100%;
    }

    .btn-sair-carrinho {
        display: block;
        top: 3.5%;
    }

    .col-3 {
        width: 100%;
    }

    .table tr {
        gap: 0;
    }

    
}